name: CI

on: 
  push:
  pull_request:
    types: [opened]

jobs:
  sunstone:
    name: ActiveRecord::Filter Test
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        rails-version:
          - 7.2.3
          - 8.0
          - 8.1
        ruby-version:
          - 3.3
          - 3.4
          - 4.0
        postgres-version:
          - 18

    steps:
      - name: Install Postgresql
        run: |
          sudo apt-get -y --purge remove $(sudo apt list --installed | grep postgresql | awk '{print $1}')
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          sudo apt-get update
          sudo apt-get -y install postgresql-${{ matrix.postgres-version }}-postgis-3
          sudo systemctl start postgresql@${{ matrix.postgres-version }}-main.service
          sudo systemctl status postgresql@${{ matrix.postgres-version }}-main.service
          sudo pg_lsclusters
          sudo -u postgres createuser runner --superuser
          sudo -u postgres psql -c "ALTER USER runner WITH PASSWORD 'runner';"

      - uses: actions/checkout@v4

      - name: Fix activerecord-postgis-adapter
        if: ${{ matrix.rails-version == '8.0.1' }}
        run: |
          echo "gem 'activerecord-postgis-adapter', github: 'rgeo/activerecord-postgis-adapter'" >> Gemfile

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - run: |
          sed -i -e "s/spec.add_runtime_dependency  *'activerecord',  *'>= [[:digit:]]\+\(\.[[:digit:]]\+\)*'/spec.add_runtime_dependency 'activerecord', '${{ matrix.rails-version }}'/" activerecord-filter.gemspec
          cat activerecord-filter.gemspec
          rm Gemfile.lock
          bundle install --jobs=3 --retry=3
          bundle update --jobs=3 --retry=3

      - run: bundle exec rake test

  ar-postgresql:
    name: ActiveRecord PostgresQL Test
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        rails-version:
          - 7.1.6
          - 7.2.3
          - 8.0.4
          - 8.1.1
        ruby-version:
          - 3.4
        postgres-version:
          - 18
        exclude:
          - rails-version: '7.1.6'
            ruby-version: '3.4'
            postgres-version: '18'

    steps:
      - name: Install Postgresql
        run: |
          sudo apt-get -y --purge remove $(sudo apt list --installed | grep postgresql | awk '{print $1}')
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          sudo apt-get update
          sudo apt-get -y install postgresql-${{ matrix.postgres-version }}-postgis-3
          sudo systemctl start postgresql@${{ matrix.postgres-version }}-main.service
          sudo systemctl status postgresql@${{ matrix.postgres-version }}-main.service
          sudo pg_lsclusters
          sudo -u postgres createuser runner --superuser
          sudo -u postgres psql -c "ALTER USER runner WITH PASSWORD 'runner';"

      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically
    
      - name: Download Rails
        run: |
          git clone --branch v${{ matrix.rails-version }} https://github.com/rails/rails.git ~/rails
          pushd ~/rails
          cat /home/runner/work/_temp/*.sh
          sed -i "s/Gem.ruby, '-w'/Gem.ruby, '-w0'/" ~/rails/activerecord/Rakefile
          sed -i "s/t.warning = true/t.warning = false/g" ~/rails/activerecord/Rakefile
          sed -i "/require \"active_record\"/a \$LOAD_PATH.unshift\(File.expand_path\(ENV['GITHUB_WORKSPACE']\)\)\nrequire 'active_record/filter'" ~/rails/activerecord/test/cases/helper.rb
          rm ~/rails/Gemfile.lock
          sed -i "/# Active Record./a gem 'activerecord-filter', require: 'active_record/filter', path: File.expand_path\(ENV['GITHUB_WORKSPACE']\)" ~/rails/Gemfile
          cat ~/rails/Gemfile

      - name: This can eventually be removed
        run: |
          sed -i 's/gem "minitest"$/gem "minitest"\ngem "minitest-mock", require: "minitest\/mock"/' ~/rails/Gemfile
          sed -i 's/module ActiveRecord$/module Rails\nend\nmodule ActiveRecord/' ~/rails/activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb || true
          sed -i 's/t.options = "--profile" if ENV\["CI"\]//g' ~/rails/activerecord/Rakefile

      - name: Fix Weird Test Cases
        run: |
          sed -i 's|} - \[:|} - \[:distinct_on, :uniq_on, :|' ~/rails/activerecord/test/cases/relation/delegation_test.rb

      - name: Bundle
        run: |
          pushd ~/rails
          bundle update --jobs=3 --retry=3
          popd

      - run: |
          pushd ~/rails/activerecord
          bundle exec rake db:postgresql:rebuild postgresql:test
          bundle exec rake db:postgresql:rebuild postgresql:isolated_test
          
  ar-sqlite:
    name: ActiveRecord SQLite Test
    runs-on: ubuntu-24.04


    strategy:
      fail-fast: false
      matrix:
        rails-version:
          - 7.1.6
          - 7.2.3
          - 8.0.4
          - 8.1.1
        ruby-version:
          - 3.4
        exclude:
          - rails-version: '7.1.6'
            ruby-version: '3.4'

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically
    
      - name: Download Rails
        run: |
          git clone --branch v${{ matrix.rails-version }} https://github.com/rails/rails.git ~/rails
          pushd ~/rails
          cat /home/runner/work/_temp/*.sh
          sed -i "s/Gem.ruby, '-w'/Gem.ruby, '-w0'/" ~/rails/activerecord/Rakefile
          sed -i "s/t.warning = true/t.warning = false/g" ~/rails/activerecord/Rakefile
          sed -i "/require \"active_record\"/a \$LOAD_PATH.unshift\(File.expand_path\(ENV['GITHUB_WORKSPACE']\)\)\nrequire 'active_record/filter'" ~/rails/activerecord/test/cases/helper.rb
          rm ~/rails/Gemfile.lock
          sed -i "/# Active Record./a gem 'activerecord-filter', require: 'active_record/filter', path: File.expand_path\(ENV['GITHUB_WORKSPACE']\)" ~/rails/Gemfile
          cat ~/rails/Gemfile

      - name: This can eventually be removed
        run: |
          sed -i 's/gem "minitest"$/gem "minitest"\ngem "minitest-mock", require: "minitest\/mock"/' ~/rails/Gemfile
          cat ~/rails/Gemfile
          sed -i 's/module ActiveRecord$/module Rails\nend\nmodule ActiveRecord/' ~/rails/activerecord/test/cases/adapters/sqlite3/dbconsole_test.rb
          cat  ~/rails/activerecord/test/cases/adapters/sqlite3/dbconsole_test.rb
          sed -i 's/t.options = "--profile" if ENV\["CI"\]//g' ~/rails/activerecord/Rakefile
          cat ~/rails/activerecord/Rakefile
      
      - name: Fix Weird Test Cases
        run: |
          sed -i 's|} - \[:|} - \[:distinct_on, :uniq_on, :|' ~/rails/activerecord/test/cases/relation/delegation_test.rb

      - name: Bundle
        run: |
          pushd ~/rails
          bundle update --jobs=3 --retry=3
          popd

      - run: |
          pushd ~/rails/activerecord
          bundle exec rake sqlite3:test
          rm test/db/*.sqlite3 test/fixtures/*.sqlite3
          bundle exec rake sqlite3:isolated_test
          rm test/db/*.sqlite3 test/fixtures/*.sqlite3
          bundle exec rake sqlite3_mem:test
        
  ar-mysql:
    name: ActiveRecord MySQL Test
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        rails-version:
          - 7.1.6
          - 7.2.3
          - 8.0.4
          - 8.1.1
        ruby-version:
          - 3.4
        exclude:
          - rails-version: '7.1.6'
            ruby-version: '3.4'

    steps:
      - name: Install MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -uroot -proot -e "CREATE USER 'rails'@'%';"
          mysql -uroot -proot -e "GRANT ALL PRIVILEGES ON *.* TO 'rails'@'%' WITH GRANT OPTION;"

      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically

      - name: Download Rails
        run: |
          git clone --branch v${{ matrix.rails-version }} https://github.com/rails/rails.git ~/rails
          pushd ~/rails
          cat /home/runner/work/_temp/*.sh
          sed -i "s/Gem.ruby, '-w'/Gem.ruby, '-w0'/" ~/rails/activerecord/Rakefile
          sed -i "s/t.warning = true/t.warning = false/g" ~/rails/activerecord/Rakefile
          sed -i "/require \"active_record\"/a \$LOAD_PATH.unshift\(File.expand_path\(ENV['GITHUB_WORKSPACE']\)\)\nrequire 'active_record/filter'" ~/rails/activerecord/test/cases/helper.rb
          rm ~/rails/Gemfile.lock
          sed -i "/# Active Record./a gem 'activerecord-filter', require: 'active_record/filter', path: File.expand_path\(ENV['GITHUB_WORKSPACE']\)" ~/rails/Gemfile
          cat ~/rails/Gemfile

      - name: This can eventually be removed
        run: |
          sed -i 's/gem "minitest"$/gem "minitest"\ngem "minitest-mock", require: "minitest\/mock"/' ~/rails/Gemfile
          sed -i 's/class WarningsTest < ActiveRecord::AbstractMysqlTestCase$/module Rails\nend\nclass WarningsTest < ActiveRecord::AbstractMysqlTestCase/' ~/rails/activerecord/test/cases/adapters/abstract_mysql_adapter/warnings_test.rb || true
          sed -i 's/class Mysql2AdapterTest < ActiveRecord::Mysql2TestCase$/module Rails\nend\nclass Mysql2AdapterTest < ActiveRecord::Mysql2TestCase/' ~/rails/activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb || true
          sed -i 's/t.options = "--profile" if ENV\["CI"\]//g' ~/rails/activerecord/Rakefile
          cat ~/rails/activerecord/Rakefile


      - name: Fix Weird Test Cases
        run: |
          sed -i 's|} - \[:|} - \[:distinct_on, :uniq_on, :|' ~/rails/activerecord/test/cases/relation/delegation_test.rb

      - name: Bundle
        run: |
          pushd ~/rails
          bundle update --jobs=3 --retry=3
          popd

      - run: |
          pushd ~/rails/activerecord
          bundle exec rake db:mysql:rebuild mysql2:test
          bundle exec rake db:mysql:rebuild mysql2:isolated_test
